.bord {
  border: 2px solid aqua;
}

.section {
  display: flex;
  width: 100%;
}

.container {
  width: 960px;
  display: flex;
}

#menu {
  display: none;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.4;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

h2 {
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

header span {
  color: white;
}

.mainbanner {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 1rem;
  flex-direction: column;
  height: 31rem;
}

.mainbanner.section {
  align-items: center;
}

.title {
  background-color: cadetblue;
  padding: 1rem 0;
  display: inline-flex;
  flex-flow: nowrap row;
  align-items: center;
}

.title span {
  padding: 0 1rem;
  flex-flow: wrap row;
}

.company {
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

.company span {
  flex-grow: 1;
}

.company img {
  height: 1.5rem;
  margin-left: 2rem;
}

.navlinks {
  display: inline-flex;
  flex-grow: 0;
  margin-right: 1rem;
  justify-content: flex-end;
}

.slogan.container {
  margin-top: 10rem;
  position: relative;
  left: 2rem;
  justify-content: flex-end;
}

.slogan h1 {
  padding: 1.5rem 5rem;
  background-color: white;
}

main .section {
  justify-content: center;
}

.icons {
  padding: 3rem 0;
  height: 8rem;
  justify-content: center;
}

.icons.container {
  justify-content: center;
}

.iconbox {
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
  width: 5rem;
  padding: 0 3rem;
  text-align: center;
}

.iconbox img {
  width: 5rem;
  height: auto;
}

#exams img {
  height: 4rem;
  width:: auto;
}

.maininfo.container {
  justify-content: center;
}

.sectionbox {
  display: flex;
  flex-flow: wrap column;
  width: 35%;
  padding: 0 5%;
}

.headerbox {
  background-color: cadetblue;
  padding: 0.5rem 1.25rem;
  text-align: left;
  width: 100%;
  margin-bottom: 1rem;
}

.footer {
  margin-top: 5rem;
  justify-content: center;
}

.copyright {
  background-color: azure;
}

.copyright img {
  height: 1.5rem;
  padding: 4rem 0 4rem 4rem;
}

.copyright span {
  padding: 4rem 1rem;
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }

  h1 {
    font-size: 1.33rem;
  }

  .mainbanner {
    height: 22rem;
    padding-top: 0;
  }

  .slogan.container {
    margin-top: 5rem;
    position: relative;
    left: -2rem;
    justify-content: flex-end;
    }

  .slogan h1 {
    padding: 0.75rem 4rem;
    background-color: white;
  }

}

@media only screen and (max-width: 470px) {
  #company span {
    display: none;
  }

  #navlinks {
    display: none;
  }

  #menu {
    display: inline-flex;
    justify-content: flex-end;
  }

  h1 {
    font-size: 1rem;
  }

  p {
    font-size: 0.77rem;
  }

  .mainbanner {
    height: 17rem;
    background-position: left;
  }

  .company {
    justify-content: flex-start;
  }

  .slogan.container {
    margin-top: 9rem;
    position: static;
    width: 100%;
    background-color: white;
    justify-content: center;
    }

  .slogan h1 {
    padding: 1rem 0;
    background-color: white;
    width: 100%;
    text-align: center;
  }

  .icons.container {
    flex-flow: nowrap column;
    margin: 3.77rem 0;
    padding: 0;
    height: auto;
    justify-content: center;
    align-items: center;
  }

  .iconbox {
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
    height: 8rem;
    width: 5rem;
    text-align: center;
  }

  #exams {
    padding-bottom: 1.54rem;
  }

  #fittings {
    padding-bottom: 1.54rem;
  }

  .iconbox img {
    padding-bottom: 1rem;
  }

  .maininfo {
    display: inline-flex;
    align-items: center;
    flex-flow: nowrap column;
    width: 100%;
  }

  .maininfo p {
    margin-bottom: 4rem;
    padding: 0 0.5rem;
  }

  .sectionbox {
    width: 100%;
    padding: 0;
  }

  .headerbox {
    padding: 0 0.5rem;
    text-align: center;
    width: auto;
    margin-bottom: 1rem;
  }

  .footer {
    margin-top: 0;
  }

  .copyright {
    justify-content: center;
  }

  .copyright img {
    padding: 4rem;
  }

  .copyright span {
    display: none;
  }

}
